#map {
    width: 100%;
    height: 100%;
}

#search_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    ion-searchbar{
        --background: white;
        --box-shadow:  1px 1px 10px var(--ion-color-primary);
        --placeholder-color: var(--ion-color-primary);
    }
}

.menu {
    font-size: 35px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: 25px;
    color: var(--ion-color-primary);
    z-index: 200;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

ion-list{
   background-color: white;
   
    ion-item{

        border: 1px solid white;
    }

}